.contactContainer {
  padding: 25px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name,
#email,
#message {
  border: 5px solid $colour1;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin: 2px 0;
}

input[type="submit"] {
  margin: 8px 0;
  padding: 25px;
}

// Media Queries //
@media (max-width: 1000px) {
  .contactContainer {
    padding: 25px 100px;
  }
}

@media (max-width: 800px) {
  .contactContainer {
    padding: 25px 0;
  }
}