.footerContainer {
  background-color: $colour2;
  color: $colour1;
  text-align: center;
  padding-top: 25px;
  font-size: 3rem;
  .icons {
    padding: 25px;
    a {
      color: $colour1;
      padding: 5px 10px;
      font-size: 5rem;
    }
    a:hover {
      transform: scale(1.1);
    }
  }
}

// Media Queries //

@media (max-width: 360px) {
  .footerContainer {
    p {
      font-size: 2.6rem;
    }
    i {
      font-size: 4rem;
    }
  }
}