.navContainer {
  padding: 15px 0;
  background-color: $colour1;
  text-align: right;
  li {
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
    a {
      padding: 10px 25px;
      font-size: 2.5rem;
    }
  }
}

.navContainer a:hover {
  background-color: $colour2;
  color: $colour1;
  border-radius: 10px;
  transform: none;
}

.navContainer,
.navLinks {
  overflow: hidden;
}

.fa-bars {
  display: none;
}

label[for="toggle"],
input[type="checkbox"] {
    display: none;
}

// Media Queries //

@media (max-width: 600px) {
  .navContainer {
    position: absolute;
    right: -200px;
    top: 0;
    z-index: 999;
    .navLinks {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
      li {
        padding: 25px;
      }
      a {
        font-size: 3rem;
      }
    }
  }
  
  .fa-bars {
    position: relative;
    z-index: 999;
    display: block;
    font-size: 4rem;
    transition: all 0.3s linear;
    padding: 20px;
  }

  .fa-bars:hover {
    color: $colour3;
    cursor: pointer;
    background-color: $colour2;
  }

  label[for="toggle"] {
    display: block;
    font-size: 2rem;
  }

  input[type="checkbox"]:checked + .navContainer {
    right: 0;
    transition: all 0.5s;
  }
}