.projects {
  padding: 50px 0;
  background-color: $colour2;
  color: $colour1;
  p {
    text-align: center;
  }
  h2:after {
    content: '';
    display: block;
    height: 3px;
    background: $colour1;
    margin: 50px 400px 0 400px;
  }
}

.projectsContainer img {
  border: 2px solid $colour1;
  border-radius: 15px;
}

.projectsContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  a:hover {
    transform: none;
  }
}

.app {
  position: relative;
  margin: 10px 0;
}

.appOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s linear;
  background-color: hsla(0, 0%, 100%, .9);
  padding: 15px;
  border-radius: 15px;
}

.app:hover .appOverlay {
  opacity: 1;
  color: $colour1;
}

@media (max-width: 1180px) {
  .projectsContainer {
    display: flex;
    flex-direction: column;
  }
  .app {
    margin: 10px 100px;
  }

  // .guitarAppOverlay {
  //   position: initial;
  //   opacity: 1;
  // }
}

@media (max-width: 1050px) {
  .projects h2:after {
    display: none;
  }
}

@media (max-width: 800px) {
  .app {
    margin: 10px;
  }
}

@media (max-width: 420px) {
  .appOverlay p {
    font-size: 1.5rem;
  }
  .appOverlay button {
    font-size: 2rem;
    margin: 20px 0;
  }
}

@media (max-width: 340px) {
  .appOverlay p {
    line-height: 20px;
  }
  .appOverlay button {
    font-size: 1.5rem;
  }
}