.projects {
  padding: 50px 0;
  background-color: $colour2;
  color: $colour1;
  h2:after {
    content: '';
    display: block;
    height: 3px;
    background: $colour1;
    margin: 50px 400px 0 400px;
  }
}

.projectsContainer {
  .app {
    position: relative;
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  img {
    border: 2px solid $colour1;
    border-radius: 15px;
    width: 50%;
    height: 300px;
  }
  .appInfo {
    width: 35%;
  }
  a:hover {
    transform: none;
  }
}

.colleague {
  color: $colour4;
  transition: all 0.3s linear;
}

.colleague:hover {
  color: blue;
}

.skillsUsed {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: $colour2;
  margin: 25px 0;
  li {
    background-color: $colour1;
    padding: 10px;
    margin-right: 10px;
  }
}

.gotSkillsUsed {
  grid-template-columns: repeat(3, 1fr);
}

// Media Queries //

@media (max-width: 1180px) {
  .projectsContainer {
    display: flex;
    flex-direction: column;
  }
  .app {
    margin: 10px 100px;
  }
}

@media (max-width: 1050px) {
  .projects h2:after {
    display: none;
  }

  .projectsContainer {
    .app {
      flex-direction: column;
      margin: 25px 0;
    }
    img {
      height: initial;
      width: 100%;
    }
    .appInfo {
      width: 100%;
      text-align: center;
      padding-bottom: 50px;
    }
  }

  .skillsUsed {
    justify-content: center;
  }

  .projectsContainer .gotQuiz {
    flex-direction: column-reverse;
  }
}

@media (max-width: 660px) {
  .appInfo p {
    font-size: 2rem;
  }
}

@media (max-width: 565px) {
  .appInfo p {
    font-size: 1.8rem;
  }
}

@media (max-width: 380px) {
  .skillsUsed li {
    font-size: 1.6rem;
  }
}